<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Site Visit Window</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous">
        </script>
    <style>
        body{
            background-image: url("http://localhost:8000/Logogmax.jpeg");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: auto;
            width: 30rem;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .card-body {
            padding-left: 10px;
        }

        h5 {
            text-align: center;
            padding-top: 5px;
        }

        input {
            width: 100%;
        }
    </style>
</head>

<body>
    <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="http://localhost:8000/Logogmax.jpeg" alt="Logo" width="30" height="24"
                    class="d-inline-block align-text-top">
                    © GMAX Built Home Pvt. Ltd.
            </a>
        </div>
    </nav>
    <div class="card mt-3">
        <h5 class="card-title">
            -- Site Visit Form --
        </h5>
        <div class="alert alert-info">All fields are mandatory, otherwise your booking form not be submitted.</div>
        <div class="card-body">
            <form action="" method="POST">
                <label for="exampleFormControlInput1" class="form-label">Select Date</label>
                <input type="date" class="form-control mb-3" id="exampleFormControlInput1" placeholder="Date"
                    name="VisiterDate">

                <label for="exampleFormControlInput2" class="form-label">Select Time</label>
                <input type="time" class="form-control mb-3" id="exampleFormControlInput2" placeholder="Time"
                    name="VisiterTime">

                <select class="form-select mb-3" aria-label="Default select example" name="VisitType">
                    <option selected>Select visit type</option>
                    <option value="Same Day">Same Day</option>
                    <option value="Stay">Stay</option>
                </select>

                <label for="exampleFormControlInput3" class="form-label">Total number of person(s)</label>
                <input type="text" class="form-control mb-3" id="exampleFormControlInput3" placeholder="e.g. 4"
                    name="TotalNumberOfPersons">

                <label for="exampleFormControlInput4" class="form-label">Leader name</label>
                <input type="text" class="form-control mb-3" id="exampleFormControlInput4" placeholder="e.g. Rahul"
                    name="LeaderName">

                <label for="exampleFormControlInput5" class="form-label">Associate name</label>
                <input type="text" class="form-control mb-3" id="exampleFormControlInput5" placeholder="e.g. Rahul"
                    name="AssociateName">

                <label for="exampleFormControlInput6" class="form-label">10 digit mobile number</label>
                <input type="text" class="form-control mb-3" id="exampleFormControlInput6" placeholder="e.g. 1123456789"
                    name="MobileNumber">

                <label for="exampleFormControlInput7" class="form-label">Pick-up Location</label>
                <input type="text" class="form-control mb-3" id="exampleFormControlInput7"
                    placeholder="e.g. New Delhi NSP" name="PickUpLocation">

                <select class="form-select mb-3" aria-label="Default select example" name="ClientDetails">
                    <option selected>Select client details</option>
                    <option value="Husband, wife and child">Husband, wife and child</option>
                    <option value="Husband and wife">Husband and wife</option>
                    <option value="Family">Family</option>
                    <option value="Friends">Friends</option>
                    <option value="1 Associate">1 Associate</option>
                    <option value="2 Associate">2 Associate</option>
                    <option value="2+ Associate">2+ Associate</option>
                </select>

                <label for="exampleFormControlInput8" class="form-label">Total number of male</label>
                <input type="text" class="form-control mb-3" id="exampleFormControlInput8" placeholder="e.g. 2"
                    name="TotalNumberOfMales">

                <label for="exampleFormControlInput9" class="form-label">Total number of female</label>
                <input type="text" class="form-control mb-3" id="exampleFormControlInput9" placeholder="e.g. 2"
                    name="TotalNumberOfFemales">

                <select class="form-select mb-3" aria-label="Default select example" name="VehicalDetails">
                    <option selected>Select vehical details</option>
                    <option value="Ertiga">Ertiga</option>
                    <option value="Swift">Swift</option>
                    <option value="Traveller">Traveller</option>
                    <option value="Personal">Personal</option>
                </select>

                <select class="form-select mb-3" aria-label="Default select example" name="TravellerDetails">
                    <option selected>Select traveller details</option>
                    <option value="Traveller">Traveller</option>
                    <option value="Personal">Personal</option>
                    <option value="Personal Paid">Personal Paid</option>
                </select>

                <button type="submit" class="btn btn-success" style="width: 100%;">Submit Detail's</button>
            </form>
        </div>
    </div>

</body>

</html>
